//These are the basic definitions of our entire project
/* Reset for each browser */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}