/* ----------------------------------------------- HEADER STYLING ----------------------------------------------- */
/*vh is viewport */
.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)), 
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /* this is how we make that triangle! Use clipper tool for easy CSS code grabs */
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    //clip path support because it doesn't work in Firefox! 
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }



    // the large version of the hero image is shown when the resolution of the screen
    // is higher than 192dpi(this is a mac!) and the width is greater than 600px
    //comma acts like a ||
    @media (min-resolution: 192dpi) and (min-width: 37.5em), 
            (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //need to add this for Safari support
            (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
             rgba($color-primary-light, 0.8),
             rgba($color-primary-dark, 0.8)), 
            url(../img/hero.jpg);
    }

    // @media (min-width: 200px) {
    //     background-image: linear-gradient(
    //         to right bottom,
    //          rgba($color-primary-light, 0.8),
    //          rgba($color-primary-dark, 0.8)), 
    //         url(../img/hero.jpg);
    // }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }


    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    /* below is just an example of using the animation on the logo */
    /* .logo:hover {
        animation: moveInRight 3s ease-out;
    } */
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


